# OS specific
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

*.png
*.jpeg
*.jpg
*.gif
*.mp4
*.meta
*.gz
*.html
*-ubyte
*-py
cache/

# Avoid including drafts and notes
**/drafts/